@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/*import font*/
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*
    MARTIN: margin+display and height offsets the background, and the bg-repeat and position functions make sure its center and doesnt play the same image multiple times */
}

img {
position: absolute;
  bottom: 20px;    /* Move the image down by 20 pixels */
  left: 30px;
}
.small-image {
width: 550px;
height: 350px;
}

.text_box {
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    text-shadow: 4px 4px #000000;
    margin-top: 0px;
    opacity: 1;
    color: #ffffff;
  /* MARTIN: intitialize the text inside the box */
}
