body {
    font-family: Garamond, serif;
    margin: 0px;
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*
    MARTIN: margin+display and height offsets the background, and the bg-repeat and position functions make sure its center and doesnt play the same image multiple times */
}



.text_box {
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    margin-top: 0px;
    opacity: 1;
    color: #9c9c9c;
  /* MARTIN: intitialize the text inside the box */
}
